<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAPATARIA</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css"/>
    <script scr="node_modules/jquery/dist/jquery.min.js"></script>
    <script scr="node_modules/bootstrap/dist/bootstrap.min.js"></script>
  </head>
  <body>
    <nav>
      <ul >
        <li>
          <a href="http://localhost/www/">Início</a>
        </li>
        <li>
          <a href="http://localhost/www/?acao=Form">Cadastrar</a>
        </li>
        <li>
          <a href="http://localhost/www/?acao=Tabela">Listar</a>
        </li>
      </ul>
    </nav>
    <section>
      <h1>Atividade</h1>
      {conteudo}
    </section>
  </body>
</html>
